In [ ]:
# VARIABLES
#int
a = 1234
#float
b = 1.34
#complex 
c = 12 + 34j
#string
d = 'Hello World'
#boolean
e = True 
f = False

In [ ]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print("The Datatype of variable a is", type(a))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'bool'>
The Datatype of variable a is <class 'int'>

In [ ]:
x = " hello World!"

#string length
print(len(x))
print(x[2])

# SLICING
print(x[1])
print(x[1:6])
print(x[:6])
print(x[6:])
print(x[-6:-1])

13
e
h
hello
 hello
 World!
World

In [ ]:
#string methods
x = " hElLo wORld     "
print(x.upper())
print(x.lower())
print(x.title())
print(x.strip().title())

 HELLO WORLD
 hello world
 Hello World
Hello World

In [ ]:
#more string methods
x = "my name is khan"
print(x.find("khan"))
y = x.replace("khan", "abid")
print(x)
print(y)
doesContainKhan = "khan" in x
print(type(doesContainKhan))
print(doesContainKhan)

11
my name is khan
my name is abid
<class 'bool'>
True

In [ ]:
# STRING FORMATTING
x = 1
y = 3.14
print(f"The value of x = {x}")
print(f"The value of y = {y}")

The value of x = 1
The value of y = 3.14

In [ ]:
# CONDITIONAL STATEMENT
x = 5

if 1 < x < 10:
    if x == 1:
        print("x = 1")
    elif x == 10:
        print("x = 10")
    else:
        print("YES")
        
    x = x + 5
elif 10 < x < 20:
    print("no")
    print("NOPE")

else:
    print(idk)

YES

In [ ]:
# WHILE LOOP

x = 10

while x >= 1:
    print(x)
    x -= 1
x = x + 100
print("x =", x)

10
9
8
7
6
5
4
3
2
1
x = 100

In [ ]:
# FOR LOOP

print("First")
for i in range(0,5):
  print(i)
print("Second")
for i in range(5):
  print(i ** 3) #cube of i



# Default: +, -, /, *, %

# Extra: // - integer divison   
print("5/2 is", 5/2)
print("5//2 is", 5//2)
# Extra: ** - to the power
print("2**3 =", 2**3)
# square root
print("square roor of 5 is ", 5 ** 0.5)

First
0
1
2
3
4
Second
0
1
8
27
64
5/2 is 2.5
5//2 is 2
2**3 = 8
square roor of 5 is  2.23606797749979

In [ ]:
for i in range(1, 10, 3):
  print(i)

1
4
7

In [ ]:
# LIST
X = [1, 2, 3, 4, 5, 10, -1, 2, 1.3]
print(type(X))
print(X)

# LIST SLICING
print(X[1])
print(X[1:6])
print(X[:6])
print(X[6:])
print(X[-6:-1])
print(X[-3:])
#print(dir(list))

<class 'list'>
[1, 2, 3, 4, 5, 10, -1, 2, 1.3]
2
[2, 3, 4, 5, 10]
[1, 2, 3, 4, 5, 10]
[-1, 2, 1.3]
[4, 5, 10, -1, 2]
[-1, 2, 1.3]

In [ ]:
print(1.3 in X)

True

In [ ]:
X = [1, 2, [1, 3]]
print(X)
print(type(X))
print(type(X[0]))
print(X[-1])
print(type(X[-1]))

[1, 2, [1, 3]]
<class 'list'>
<class 'int'>
[1, 3]
<class 'list'>

In [ ]:
#[1 2 3
# 4 5 6]

matrix = [[1, 2, 3], [4, 5, 6]]
print(matrix)
print(matrix[0])
print(matrix[1][2])

[[1, 2, 3], [4, 5, 6]]
[1, 2, 3]
6

In [ ]:
arr1 = ["a", "b", "c"]
arr2 = [0] * 5
arr3 = [1, 2, 3, 4, 5]
arr4 = [5, 4, 3, 2, 1]

print(arr2)
print(arr1 + arr4) #array concat

[0, 0, 0, 0, 0]
['a', 'b', 'c', 5, 4, 3, 2, 1]