#Introduction to Python

---

 # Why Python?
 
 * It supports a lot of today’s technology including vast libraries for twitter, data mining, scientific calculations, designing, back-end server for websites, engineering simulations, artificial learning, augmented reality and what not. Also, it supports all kind of App development. Web crawlers used for data mining and all are designed and developed in Python.

 * It has a large community; solutions to any problems you face can be easily found online.

 * It is Open Source

 * It is easily understandable; very close to human language.

Difference between Interpreter and Compiler
https://techdifferences.com/difference-between-compiler-and-interpreter.html

# What is Google Colab?

* It's a Jupyter notebook environment that requires no setup to use and runs entirely in the cloud.
* 12 GB RAM; can be extended to 25 GB for free

# Data types

In [ ]:
a = 1 # integer
print(a)
b = 1.1 # float
print(b)
c = 1 + 2j # complex number (a + bi) 
print(c) 
d = 'a' # string
print(d)
e = True # boolean (True / False)
print(e)

1
1.1
(1+2j)
a
True

In [ ]:
#print type
type(e)

bool

In [ ]:
a = 5 * 3
print(a)
b = 5 ** 3
print(b)
c = 5 / 3
print(c)
d = 5 // 3  #integer division--sort of like a floor of the original division (5/3)
print(d)

15
125
1.6666666666666667
1

# Input & Type Conversion

In [ ]:
#keep in mind that input() always returns a string
x = input("Enter a number : ")
print(x)

Enter a number : 3
3

# Strings

In [ ]:
x = 'Python'
print(len(x))
print(x[0])
print(x[-1])
x[0:3]

6
P
n

'Pyt'

In [ ]:
x[5]

'n'

In [ ]:
len()

In [ ]:
name = "John"
print("Hello, %s!" % name)
age = 23
print("%s is %d years old." % (name, age))

# Escape sequences
#\” \’ \\ \n

Hello, John!
John is 23 years old.

Note on 'find' method:

The find() method finds the first occurrence of the specified value.

The find() method returns -1 if the value is not found.

string.find(value, start, end)

In [ ]:
# String methods
print(x.upper())
print(x.lower())
print(x.title())   #first character in each word to Uppercase and remaining characters to Lowercase in string and returns new string
print(x.strip('n'))
print(x.find('P'))
print(x.replace('o', 'b'))
'a' in x

PYTHON
python
Python
Pytho
0
Pythbn

False

# If-else Conditions

In [ ]:
x = 3
if (x == 1):
  print(1)
elif (x == 2):
  print(2)
else:
  print(3)

3

# Loops

Range function: returns a range object, which is nothing but a sequence of integers.
Syntax: range(start,end,step)
* end is exclusive
* start is inclusive

In [ ]:
for n in range(5):
  print(n)

0
1
2
3
4

In [ ]:
n = 1
while (n < 10):
  print(n)
  n += 1

1
2
3
4
5
6
7
8
9

# Functions

In [ ]:
def my_function(firstname, lastname):
  print("My name is " + firstname + " " + lastname)
  

my_function("Emil", "Refsnes")

My name is Emil Refsnes

In [ ]:
def increment(number, by):
  return number + by

n = 1
while (n < 10):
  print(n)
  n = increment(n, by=1)

1
2
3
4
5
6
7
8
9

#Lists:


*   ordered
*   mutable
*   can hold a mixture of data types
*   no need to declare size beforehand

Creating lists

In [ ]:
#the simplest way; we'll see more later
letters = ["a", "b", "c"]
letters

['a', 'b', 'c']

In [ ]:
list = [1, 'c', 5.5]
print(list)

[1, 'c', 5.5]

Accessing items in lists

In [ ]:
letters = ["a", "b", "c", "d"]
letters[0] # "a"
letters[2]

'c'

Slicing lists:
* Notation: (start: end: increment)

In [ ]:
print(letters[0:3]) # "a", "b", "c"
print(letters[:3]) # "a", "b", "c"
print(letters[0:]) # "a", "b", "c", "d"
print(letters[:]) # "a", "b", "c", "d"
print(letters[::2]) # "a", "c"
print(letters[::-1]) # "d", "c", "b", "a"

['a', 'b', 'c']
['a', 'b', 'c']
['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd']
['a', 'c']
['d', 'c', 'b', 'a']

In [ ]:
print(len(letters))
print(letters[-1:-5:-1])

4
['d', 'c', 'b', 'a']

Some other ways to create lists

In [ ]:
matrix = [[0, 1,3], [1, 2,4], [3,4,5]]
matrix

[[0, 1, 3], [1, 2, 4], [3, 4, 5]]

In [ ]:
import numpy
numpy.shape(matrix)

(2, 3)

In [ ]:
zeros = [0] * 7
zeros

[0, 0, 0, 0, 0, 0, 0]

In [ ]:
combined = zeros + letters
combined

[0, 0, 0, 0, 0, 0, 0, 'a', 'b', 'c', 'd']

In [ ]:
numbers = list(range(20))
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

Adding items

In [ ]:
letters1 = ["a", "b", "c"]
letters1.append("e")
letters1[::-1]

In [ ]:
letters1

['a', 'b', 'c', 'e']

In [ ]:
letters1.insert(1, "-")

In [ ]:
letters1

['a', '-', 'b', 'c', 'e']

Removing items

In [ ]:
letters1.pop()

'e'

In [ ]:
letters1.pop(0)

'a'

In [ ]:
letters1.remove("b")
letters1

['a', 'c']

In [ ]:
del letters1[0:3]

Finding items

In [ ]:
letters = ["a", "b", "c", "d"]
if "b" in letters:
  print(letters.index("b"))

1

In [ ]:
# Looping over lists
for letter in letters:
  print(letter)

a
b
c
d

In [ ]:
# Unpacking
letters = ["a", "b", "c", "d", "e"]
first, second, *other = letters     #   * denotes a pointer which points to several addresses of the list
print(first)
print(second)
print(*other)

a
b
c d e

enumerate: returns an enumerate object. In our case that object is a list of tuples, each containing a pair of count/index and value.

In [ ]:
for index, letter in enumerate(letters):
  print(index, end = " ")
  print(letter)

0 a
1 b
2 c
3 d
4 e

In [ ]:
# Sorting lists in place. They do not return a new list.
letters.sort()
letters.sort(reverse=True)
#returns a new list
sorted(letters)

['a', 'b', 'c', 'd']

In [ ]:
#list with different data types.
x = [1,"ball", 3.3]
for i in x:
  print(i)

1
ball
3.3

# Dictionaries
--contain a key-value pair

In [ ]:
point = {"x": 1, "y": 2}
point

{'x': 1, 'y': 2}

In [ ]:
point[10] = "z"
point

{10: 'z', 'x': 1, 'y': 2, 'z': 10}

In [ ]:
if 2 in point:
  print("found")
else:
  print("not found")

not found

In [ ]:
del point["x"]

In [ ]:
point

{'y': 2, 'z': 3}

In [ ]:
alphabets = {'a':'apple','b':'ball','c': 'cat'} #dictionary

print(alphabets['a'])

alphabets['d'] = 'dog' #adding to a dictionary  #if the key already exists, value will be overwritten

alphabets

apple

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog'}

dict.items(): A view object that displays a list of a given dictionary’s (key, value) tuple pair.

In [ ]:
for key, value in point.items():
  print(key,value)

y 2
z 3

In [ ]:
x = {"A":[1,2,3,4],"B":2, "C":3}
x["A"]

[1, 2, 3, 4]

# Tuples

Tuples cannot be updated; they are said to be immutable

In [ ]:
point = (1, 2, 3)

point[0]

#

1

In [ ]:
point[0] = 9
point

TypeError: ignored

In [ ]:
point[0:2] # (1, 2)

(1, 2)

In [ ]:
x, y, z = point
print("x:"+str(x))
if 1 in point:
  print("found")

x:1
found

In [ ]:
# Swapping variables
x = 10
y = 11
x, y = y, x
print(x,y)

11 10

# Sets

You cannot access items in a set by referring to an index. Since sets are unordered, the items have no index. But you can loop through the set items using a **for** loop, or ask if a specified value is present in a set by using the **in** keyword.
Remember: Sets are unordered

In [ ]:
vowels = {'a', 'e', 'i','i','i', 'o', 'u','u'} #set

print(vowels)   #unordered and unique values

{'a', 'i', 'o', 'e', 'u'}

In [ ]:
first = {1, 2, 3, 4}
second = {1, 5}

first | second # {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [ ]:
first & second # {1}

{1}

In [ ]:
first - second # {2, 3, 4}

{2, 3, 4}

In [ ]:
first ^ second # {2, 3, 4, 5}

{2, 3, 4, 5}

In [ ]:
if 1 in first:
  print("found one")

found one

#Lambda Function:
Syntax: 
* lambda arguments : expression
* can take any number of arguments, but can only have one expression

In [ ]:
x = lambda a : a + 10
print(x(5))

15

In [ ]:
x = lambda a, b : a * b
print(x(10, 3))

30

In [ ]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [ ]:
def x(a):
  return a+10

print(x(5))